:root {
    --primar-color: #E11D3F;
}


.Notifications {
    border: dashed 2px var(--primar-color);
    padding: /*1rem;*/ 1rem .5rem 0 .5rem;
    float: right;
}

/*menuItem */
.menuItem p {
    right: 3rem;
    padding: 1rem;
    /*position: absolute;*/
}

.menuItem {
    text-align: right;
}

li[data-notification-type="default"] {
	color: blue;
}

li[data-notification-type="urgent"] {
	color: red;
}