# Files to be ignore

.*
**/._*
**/.__*/
**/._actions
**/._App
**/._assets
**/._BodySection
**/._CourseList
**/._Footer
**/._Header
**/._HOC
**/._index.js
**/._Login
**/._Notififcations
**/._reducers
**/._schema
**/._utils
**/.__mocks__
**/._config
**/._dist
**/._src

# Exclude specific files and directories

!.gitignore