/*@import '../App/App.css';*/

:root {
    --primar-color: #E11D3F;
}

.Notifications {
    border: dashed 2px var(--primar-color);
    padding: 1rem;
}

[data-priority="default"] {
	color: blue;
}

[data-priority="urgent"] {
	color: red;
}