@import "../App/App.css";

.App-header {
    display: flex;
}

.App-header img {
    width: 200px;
    height: 200px;
}

.App-header h1 {
    color: var(--holberton-red);
    margin: auto auto auto 0;
}