 @import "../App/App.css";

.App-header {
    display: flex;
}
 
.App-header {
  width: 200px;
  height: 200px;
}

.App-logo img {
    height: 200px;
    width: 200px;
}
  
.App-header h1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}